<div style="margin-top: 0px;" class="warehouse input-block-level">
    <label>Warehouse</label>
    <select style="width:100%" class="select" data-bind="
    attr: {
        name: inputName,
        id: uid,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        placeholder: placeholder
    },
    hasFocus: focused,
    optgroup: options,
    value: value,
    optionsCaption: caption,
    optionsValue: 'value',
    optionsText: 'label',
    event: {change: userChanges},
    afterRender: function (element) {

        },
    optionsAfterRender: function(option, item) {
        if (item && item.disabled) {
            ko.applyBindingsToNode(option, {attr: {disabled: true}}, item);
        }
    }"
    />
</div>
