<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CodeCustom\NovaPoshta\Api\Data\CityInterface" type="CodeCustom\NovaPoshta\Model\City" />
    <preference for="CodeCustom\NovaPoshta\Api\Data\WarehouseInterface" type="CodeCustom\NovaPoshta\Model\Warehouse" />
    <preference for="CodeCustom\NovaPoshta\Api\CityRepositoryInterface" type="CodeCustom\NovaPoshta\Model\Repository\City" />
    <preference for="CodeCustom\NovaPoshta\Api\WarehouseRepositoryInterface" type="CodeCustom\NovaPoshta\Model\Repository\Warehouse" />
    <preference for="CodeCustom\NovaPoshta\Api\StreetRepositoryInterface" type="CodeCustom\NovaPoshta\Model\Repository\Street" />
    <preference for="CodeCustom\NovaPoshta\Api\SettlementRepositoryInterface" type="CodeCustom\NovaPoshta\Model\Repository\Settlement" />
    <preference for="CodeCustom\NovaPoshta\Api\SearchRepositoryInterface" type="CodeCustom\NovaPoshta\Model\SearchRepository" />
    <preference for="CodeCustom\NovaPoshta\Api\Data\SearchInterface" type="CodeCustom\NovaPoshta\Model\Search" />

    <type name="Magento\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="NpPlaceOrderResolver"
                type="CodeCustom\NovaPoshta\Plugin\Resolver\PlaceOrder"
                sortOrder="16"
                disabled="false"/>
    </type>

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="novaposhta_shipping_address"
                type="CodeCustom\NovaPoshta\Plugin\ShippingInformationManagementPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\ShippingAddress\AvailableShippingMethods">
        <plugin name="NpAvailableShippingMethods"
                type="CodeCustom\NovaPoshta\Plugin\Resolver\AvailableShippingMethods"
                sortOrder="15"
                disabled="false"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\ShippingAddresses">
        <plugin name="NpShippingAddresses"
                type="CodeCustom\NovaPoshta\Plugin\Resolver\ShippingAddresses"
                sortOrder="15"
                disabled="false"/>
    </type>
    <type name="Magento\Quote\Model\Quote\TotalsCollector">
        <plugin sortOrder="1" name="ccAddressPlugin" type="CodeCustom\NovaPoshta\Plugin\Quote\AddressPlugin"/>
    </type>

    <virtualType name="CodeCustom\NovaPoshta\Model\ResourceModel\Settlement\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">code_custom_novaposhta_settlement</argument>
            <argument name="resourceModel" xsi:type="string">CodeCustom\NovaPoshta\Model\ResourceModel\Settlement</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="code_custom_settlement_grid_data_source" xsi:type="string">CodeCustom\NovaPoshta\Model\ResourceModel\Settlement\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
